##############################################################################################################

on early-init

##############################################################################################################

    mkdir /efs 0771 radio system
    mkdir /tombstones

##############################################################################################################

on init

##############################################################################################################

    export LD_SHIM_LIBS /system/bin/at_distributor|libsamsung_symbols.so:/system/lib/libril.so|libsamsung_symbols.so

    mkdir /efs 0771 radio system

# To store widevine keybox
    symlink /data/app /factory
    
    mkdir /preload 0771 system system 

# Vibetonz
    export VIBE_PIPE_PATH /dev/pipes
    mkdir /dev/pipes 0771 system system

##############################################################################################################

on fs

##############################################################################################################

# MDM requirement
    mkdir /data/cp_log
    chmod 0775 /data/cp_log
    chown system radio /data/cp_log
    mkdir /dev/block/modem
    symlink /dev/block/platform/dw_mmc/by-name/m9kefs1 /dev/block/modem/m9kefs1
    symlink /dev/block/platform/dw_mmc/by-name/m9kefs2 /dev/block/modem/m9kefs2
    symlink /dev/block/platform/dw_mmc/by-name/m9kefs3 /dev/block/modem/m9kefs3
    symlink /dev/block/platform/dw_mmc/by-name/ /dev/block/modem/dump_path
    chown system radio /dev/block/modem/m9kefs1
    chmod 0775 /dev/block/modem/m9kefs1
    chown system radio /dev/block/modem/m9kefs2
    chmod 0775 /dev/block/modem/m9kefs2
    chown system radio /dev/block/modem/m9kefs3
    chmod 0775 /dev/block/modem/m9kefs3
    chown system radio /dev/block/modem/dump_path
    chmod 0775 /dev/block/modem/dump_path
    mkdir /firmware 0771 system system

    chown system system /tombstones
    chmod 0775 /tombstones
    mkdir /tombstones/modem 0775 system system
    mkdir /tombstones/lpass 0775 system system
    mkdir /tombstones/wcnss 0775 system system
    mkdir /tombstones/dsps 0775 system system
    rmdir /tombstones/qcks
    mkdir /tombstones/qcks 771 system system
    rmdir /tombstones/efs
    mkdir /tombstones/efs 771 system system
    chown system radio /dev/block/platform/dw_mmc/by-name
    chmod 0775 /dev/block/platform/dw_mmc/by-name

# Permissions for DVFS
    chown radio system /sys/power/cpufreq_table
    chown radio system /sys/power/cpufreq_max_limit
    chown radio system /sys/power/cpufreq_min_limit
    chown radio system /sys/power/gpu_lock
    chown radio system /sys/devices/system/cpu/busfreq/min_freq
    chown radio system /sys/devices/system/cpu/cpufreq/pegasusq/cpucore_table
    chown radio system /sys/devices/system/cpu/cpufreq/pegasusq/max_cpu_lock
    chown radio system /sys/devices/system/cpu/cpufreq/pegasusq/min_cpu_lock
    chown radio system /sys/devices/system/cpu/cpufreq/pegasusq/hotplug_lock
    chmod 0666 /sys/power/cpufreq_table
    chmod 0666 /sys/power/cpufreq_max_limit
    chmod 0666 /sys/power/cpufreq_min_limit
    chmod 0666 /sys/power/gpu_lock
    chmod 0666 /sys/devices/system/cpu/busfreq/min_freq
    chmod 0666 /sys/devices/system/cpu/cpufreq/pegasusq/cpucore_table
    chmod 0666 /sys/devices/system/cpu/cpufreq/pegasusq/max_cpu_lock
    chmod 0666 /sys/devices/system/cpu/cpufreq/pegasusq/min_cpu_lock
    chmod 0666 /sys/devices/system/cpu/cpufreq/pegasusq/hotplug_lock

# MTP device permission
    chmod 0666 /dev/usb_mtp_gadget
    chown system mtp /dev/usb_mtp_gadget

# Permissions for Gscaler log level
    chmod 0666 /sys/module/gsc/parameters/gsc_dbg

# Permissions for backlight
    chown system system /sys/class/backlight/panel/brightness
    chown system system /sys/class/backlight/panel/auto_brightness
    chown system system /sys/class/sec/sec_touchkey/brightness

# Permissions for LCD
    chown system radio /sys/class/lcd/panel/lcd_type
    chown system system /sys/class/lcd/panel/power_reduce
    chown system system /sys/class/graphics/fb0/lcdfreq/level

# Permissions for mDNIe
    chown system system /sys/class/mdnie/mdnie/mode
    chown system media_rw /sys/class/mdnie/mdnie/scenario
    chown system system /sys/class/mdnie/mdnie/accessibility
    chown system media_rw /sys/class/mdnie/mdnie/outdoor
    chown system system /sys/class/mdnie/mdnie/cabc

# OTG_TEST
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0666 /sys/class/host_notify/usb_otg/booster

# Switch Device
    chown system radio /sys/class/sec/switch/otg_test
    chown system radio /sys/class/sec/switch/adc
    chown system radio /sys/class/sec/switch/apo_factory

##############################################################################################################

on post-fs

##############################################################################################################

    chown radio system /efs
    chmod 0771 /efs

##############################################################################################################

on post-fs-data

##############################################################################################################

# IR_LED
    chown system radio /sys/class/sec/sec_ir/ir_send
    chown system radio /sys/class/sec/sec_ir/ir_send_result

# SA, System SW, SAMSUNG create log directory
    mkdir /data/log 0775 system log
    chown system log /data/log
    mkdir /data/anr 0775 system system
    chown system system /data/anr
    setprop vold.post_fs_data_done 1
    chmod 0775 /data/log
    chmod 0775 /data/anr
    restorecon /data/log
    restorecon /data/anr

# give system access to wpa_supplicant.conf for backup and restore
    mkdir /system/etc/wifi 0770 wifi wifi 
    chmod 0770 /system/etc/wifi 
    chmod 0666 /system/etc/wifi/wpa_supplicant.conf
	
    mkdir /data/misc/wifi 0770 wifi system
    mkdir /efs/wifi 0775 radio system
    mkdir /efs/bluetooth 0775 radio system
    mkdir /efs/imei 0775 radio system
    chmod 0666 /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0775 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    chown system system /efs/wifi/.mac.info
    chmod 0666 /efs/wifi/.mac.info 
    chown wifi wifi /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/misc/radio 0775 radio system

# Waketime for fast dormancy
    chown system radio /sys/devices/platform/mdm_hsic_pm0/waketime
    chmod 0666 /sys/devices/platform/mdm_hsic_pm0/waketime

# permissions for bluetooth.
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chown bluetooth net_bt_stack /dev/ttySAC0
    chmod 0666 /dev/ttySAC0
    chmod 0666 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type
    # for TRP/TIS
    write /data/.psm.info 1
    chown system root /data/.psm.info
    chmod 0666 /data/.psm.info
    # for WIFI Cert
    chmod 0666 /data/.bustxglom.info
    chmod 0666 /data/.roamoff.info
    chmod 0666 /data/.frameburst.info
    chmod 0666 /data/.txbf.info

# Waketime fot fast dormancy
    chown system radio /sys/devices/platform/mdm_hsic_pm0/waketime
    chmod 0666 /sys/devices/platform/mdm_hsic_pm0/waketime

    chown radio radio /sys/power/wake_unlock
    chown radio radio /sys/class/sec/switch/uart_sel
    chown radio radio /sys/block/mmcblk0/device/name
    chown radio radio /sys/block/mmcblk0/device/cid
    chown radio radio /sys/power/wake_lock
    chown radio radio /sys/power/wake_unlock
    chown radio radio /sys/power/wake_lock
    chown radio radio /sys/power/wake_unlock
    chown radio radio /sys/devices/virtual/smdpkt/smdcntl0/open_timeout
    chown radio radio /sys/devices/virtual/hsicctl/hsicctl0/modem_wait
    chown radio radio /sys/module/f_rmnet/parameters/rmnet_ctl_ch
    chown radio radio /sys/module/rmnet/parameters/rmnet_ctl_ch
    chown radio radio /sys/power/wake_lock
    chown radio radio /sys/power/wake_unlock
    chown radio radio /sys/power/wake_lock
    chown radio radio /sys/power/wake_unlock
    chown radio radio /sys/class/sec/slot_switch/slot_sel
    chown radio radio /sys/block/mmcblk0/device/name
    chown radio radio /sys/block/mmcblk0/device/cid
    chown radio radio /sys/module/rmnet_usb/parameters/dump_ctrl_msg
    chown radio radio /sys/class/sec/sec_key/hall_irq_ctrl
    chown radio radio /sys/devices/virtual/misc/multipdp/waketime

    chmod 666 /sys/power/wake_unlock
    chmod 666 /sys/class/sec/switch/uart_sel
    chmod 666 /sys/block/mmcblk0/device/name
    chmod 666 /sys/block/mmcblk0/device/cid
    chmod 666 /sys/power/wake_lock
    chmod 666 /sys/power/wake_unlock
    chmod 666 /sys/power/wake_lock
    chmod 666 /sys/power/wake_unlock
    chmod 666 /sys/devices/virtual/smdpkt/smdcntl0/open_timeout
    chmod 666 /sys/devices/virtual/hsicctl/hsicctl0/modem_wait
    chmod 666 /sys/module/f_rmnet/parameters/rmnet_ctl_ch
    chmod 666 /sys/module/rmnet/parameters/rmnet_ctl_ch
    chmod 666 /sys/power/wake_lock
    chmod 666 /sys/power/wake_unlock
    chmod 666 /sys/power/wake_lock
    chmod 666 /sys/power/wake_unlock
    chmod 666 /sys/class/sec/slot_switch/slot_sel
    chmod 666 /sys/block/mmcblk0/device/name
    chmod 666 /sys/block/mmcblk0/device/cid
    chmod 666 /sys/module/rmnet_usb/parameters/dump_ctrl_msg
    chmod 666 /sys/class/sec/sec_key/hall_irq_ctrl
    chmod 666 /sys/devices/virtual/misc/multipdp/waketime

# QCRIL
    #Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 0777 radio radio
    chmod 2777 /dev/socket/qmux_radio
    mkdir /dev/socket/qmux_audio 0777 media audio
    chmod 2777 /dev/socket/qmux_audio
    mkdir /dev/socket/qmux_gps 0777 gps gps
    chmod 2777 /dev/socket/qmux_gps
	
    # Allow QMUX daemon to assign port open wait time
    chown radio radio /sys/devices/virtual/hsicctl/hsicctl0/modem_wait
    chmod 666 /sys/devices/virtual/hsicctl/hsicctl0/modem_wait

    # To prevent out of order acknowledgements from making
    # connection tracking to treat them as not belonging to
    # the connection they belong to.
    # Otherwise, a weird issue happens in which some long
    # connections on high-throughput links get dropped when
    # an ack packet comes out of order
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1

# SISO-ANDR_PERF :: START Changing scheduler to cfq and reseting cpu min freq to -1 after boot complete
on property:sys.boot_completed=1
    write /sys/block/mmcblk0/queue/scheduler cfq
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor pegasusq
    write /sys/power/cpufreq_min_limit -1
# SISO-ANDR_PERF :: END

    chown radio system /sys/devices/system/cpu/cpufreq/pegasusq/cpucore_table
    chown radio system /sys/devices/system/cpu/cpufreq/pegasusq/max_cpu_lock
    chown radio system /sys/devices/system/cpu/cpufreq/pegasusq/min_cpu_lock
    chown radio system /sys/devices/system/cpu/cpufreq/pegasusq/hotplug_lock
    chmod 0666 /sys/devices/system/cpu/cpufreq/pegasusq/cpucore_table
    chmod 0666 /sys/devices/system/cpu/cpufreq/pegasusq/max_cpu_lock
    chmod 0666 /sys/devices/system/cpu/cpufreq/pegasusq/min_cpu_lock
    chmod 0666 /sys/devices/system/cpu/cpufreq/pegasusq/hotplug_lock

    #Create directories for gpsone_daemon services
    mkdir /data/misc/gpsone_d 0770 system gps

    #Create directories for QuIPS
    mkdir /data/misc/quipc 0770 system gps

    #Create directories for Location services
    mkdir /data/misc/location 0770 gps gps
    mkdir /data/misc/location/mq 0770 gps gps
    mkdir /data/misc/location/xtwifi 0770 gps gps

    restorecon_recursive /efs
    restorecon_recursive /tombstones/qcks
    restorecon /data/.cid.info

##############################################################################################################

on boot

##############################################################################################################

# for AT distributor 
    chown system radio /sys/module/cpuidle_exynos4/parameters/enable_mask
    chmod 0666 /sys/module/cpuidle_exynos4/parameters/enable_mask
	
# SISO-ANDR_PERF :: START Changing scheduler to noop during boot
    write /sys/block/mmcblk0/queue/scheduler noop
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
# SISO-ANDR_PERF :: END

# S.LSI secdrv mem
    chown system system /dev/s5p-smem
    chmod 0666 /dev/s5p-smem

# WIFI
    setprop wifi.interface wlan0
    symlink /dev/block/mmcblk0p8 /dev/block/param

# Input Events
    chown system input /sys/class/input/input2/enable
    chown system input /sys/class/input/input2/poll_delay
    chown system input /sys/class/input/input2/delay
    chown system input /sys/class/input/input3/enable
    chown system input /sys/class/input/input3/poll_delay
    chown system input /sys/class/input/input3/delay
    chown system input /sys/class/input/input4/enable
    chown system input /sys/class/input/input4/poll_delay
    chown system input /sys/class/input/input4/delay
    chown system input /sys/class/input/input5/enable
    chown system input /sys/class/input/input5/poll_delay
    chown system input /sys/class/input/input5/delay
    chown system input /sys/class/input/input6/enable
    chown system input /sys/class/input/input6/poll_delay
    chown system input /sys/class/input/input6/delay
    chown system input /sys/class/input/input7/enable
    chown system input /sys/class/input/input7/poll_delay
    chown system input /sys/class/input/input7/delay
    chown system input /sys/class/input/input8/enable
    chown system input /sys/class/input/input8/poll_delay
    chown system input /sys/class/input/input8/delay
    chown system input /sys/class/input/input9/enable
    chown system input /sys/class/input/input9/poll_delay
    chown system input /sys/class/input/input9/delay

# Accelerometer_sensor
    chown system radio /dev/accelerometer
    chown system radio /sys/class/sensors/accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name

# Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/prox_thresh

# Light_sensor
    chown system radio /sys/class/sensors/light_sensor/lux
    chown system radio /sys/class/sensors/light_sensor/raw_data
    chown system radio /sys/class/sensors/light_sensor/vendor
    chown system radio /sys/class/sensors/light_sensor/name

# Grip_sensor
    chown system radio /sys/class/sensors/grip_sensor/raw_data
    chown system radio /sys/class/sensors/grip_sensor/threshold
    chown system radio /sys/class/sensors/grip_sensor/calibration
    chown system radio /sys/class/sensors/grip_sensor/onoff
    chown system radio /sys/class/sensors/grip_sensor/vendor
    chown system radio /sys/class/sensors/grip_sensor/name

# Magnetic_sensor
    chown system radio /sys/class/sensors/magnetic_sensor/raw_data
    chown system radio /sys/class/sensors/magnetic_sensor/selftest
    chown system radio /sys/class/sensors/magnetic_sensor/vendor
    chown system radio /sys/class/sensors/magnetic_sensor/name
    chown system input /sys/class/input/input3/filter_enable
    chown system input /sys/class/input/input3/filter_len
    chown system input /sys/class/input/input3/data
    chown system input /sys/class/input/input3/status
    chown system input /sys/class/input/input3/wake
    chown system input /sys/class/input/input3/position
    chown system input /sys/class/input/input4/filter_enable
    chown system input /sys/class/input/input4/filter_len
    chown system input /sys/class/input/input4/data
    chown system input /sys/class/input/input4/status
    chown system input /sys/class/input/input4/wake
    chown system input /sys/class/input/input4/position
    chown system input /sys/class/input/input5/filter_enable
    chown system input /sys/class/input/input5/filter_len
    chown system input /sys/class/input/input5/data
    chown system input /sys/class/input/input5/status
    chown system input /sys/class/input/input5/wake
    chown system input /sys/class/input/input5/position
    chown system input /sys/class/input/input6/filter_enable
    chown system input /sys/class/input/input6/filter_len
    chown system input /sys/class/input/input6/data
    chown system input /sys/class/input/input6/status
    chown system input /sys/class/input/input6/wake
    chown system input /sys/class/input/input6/position

# Magnetic_raw_sensor
    chown compass input /sys/class/input/input4/offsets
    chown compass input /sys/class/input/input4/dynamic_matrix
    chown system input /sys/class/input/input4/threshold
    chown system input /sys/class/input/input4/distortion
    chown system input /sys/class/input/input4/shape
    write /sys/class/input/input4/distortion "350 50 15"
	write /sys/class/input/input4/static_matrix "10602 -980 25 -830 10470 -188 2753 1005 9019"
    chown compass input /sys/class/input/input5/offsets
    chown compass input /sys/class/input/input5/dynamic_matrix
    chown system input /sys/class/input/input5/threshold
    chown system input /sys/class/input/input5/distortion
    chown system input /sys/class/input/input5/shape
    write /sys/class/input/input5/distortion "350 50 15"
	write /sys/class/input/input5/static_matrix "10602 -980 25 -830 10470 -188 2753 1005 9019"
    chown compass input /sys/class/input/input6/offsets
    chown compass input /sys/class/input/input6/dynamic_matrix
    chown system input /sys/class/input/input6/threshold
    chown system input /sys/class/input/input6/distortion
    chown system input /sys/class/input/input6/shape
    write /sys/class/input/input6/distortion "350 50 15"
	write /sys/class/input/input6/static_matrix "10602 -980 25 -830 10470 -188 2753 1005 9019"
    chown compass input /sys/class/input/input7/offsets
    chown compass input /sys/class/input/input7/dynamic_matrix
    chown system input /sys/class/input/input7/threshold
    chown system input /sys/class/input/input7/distortion
    chown system input /sys/class/input/input7/shape
    write /sys/class/input/input7/distortion "350 50 15"
	write /sys/class/input/input7/static_matrix "10602 -980 25 -830 10470 -188 2753 1005 9019"

# GPIO DVS
    chown radio system /sys/class/secgpio_check/secgpio_check_all/check_init_detail
    chown radio system /sys/class/secgpio_check/secgpio_check_all/check_sleep_detail
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpioinfo_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpioinit_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpiosleep_check

# Vibetonz
    chmod 0666 /dev/tspdrv
    chown system system /dev/tspdrv

on property:init.svc.macloader=stopped
    chown system root /data/.cid.info
    chmod 0666 /data/.cid.info
    chown system root /data/.rev
    chmod 0666 /data/.rev

##############################################################################################################
##############################################################################################################

service at_distributor /system/bin/at_distributor
    class late_start
    user root
    group radio log
    seclabel u:r:at_distributor:s0

service diag_uart_log /system/bin/diag_uart_log
    class main
    user root
    group radio
    seclabel u:r:diag_uart_log:s0

service orientationd /system/bin/orientationd
    class main
    user compass
    group input
    seclabel u:r:orientationd:s0

service geomagneticd /system/bin/geomagneticd
    class main
    user compass
    group system input
    seclabel u:r:geomagneticd:s0

service SMD-daemon /system/bin/smdexe
    class main
    user root
    group system radio inet net_raw
    seclabel u:r:SMD-daemon:s0

service qc_kickstart /system/bin/qcks s
    class core
    user root
    group radio cache inet misc audio sdcard_rw log
    seclabel u:r:qc_kickstart:s0

service qmiproxy /system/bin/qmiproxy
    class main
    user radio
    group radio gps
    seclabel u:r:qmiproxy:s0

service qmuxd /system/bin/qmuxd
    class main
    user root
    group radio log audio bluetooth gps log
    seclabel u:r:qmuxd:s0

##############################################################################################################
##############################################################################################################
